.*
*~
*
!.git*
!.busted
!.luacov
!.travis.yml
!01_krepios
!01_krepios/**
!names
!names/**
!cli
!cli/**
!docs
!docs/**
docs/_build
!lang
!lang/**
!spec
!spec/**
!scenario_01_krepios.lua
!shipTemplates.lua
!factionInfo.lua
!LICENSE
!Readme.md
!create_release.sh
